@use "../../Utils/variables" as v;
@use "../../Utils/mixins" as m;

.techContainer {
  @include m.background(
    $url: "../../assets/technology/background-technology-mobile.jpg"
  );
}
.tech-content {
  max-height: 100vh;
  display: grid;
  justify-content: center;
}
.tech-img {
  aspect-ratio: 1/2;
  place-self: center;
}
.tech-h2 {
  color: v.$white;
  margin-block: 1rem;
  text-transform: uppercase;
  font-size: 2rem;
}
.tech-h5 {
  font-weight: normal;
  font-family: v.$fontBarlowCond;
  text-transform: uppercase;
  color: v.$purple;
}
