@use "../../Utils/variables" as v;
.info {
  margin-inline: 1rem;
  margin-block: 0;
  color: v.$purple;
  &.tech {
    text-transform: uppercase;
    color: #d0d6f9;
    margin-top: 2rem;
    font-family: v.$fontBarlowCond;
  }
}
.home_title {
  margin-block: 1rem;
}
.containerHomeBackground {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
}

.Explore {
  border-radius: 100%;
  width: 20vh;
  height: 20vh;
  font-family: "Bellefair", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #0b0d17;
  background-color: #fff;
  position: relative;
  margin: 25% 25% 0%;
}

.Explore:hover {
  ::after {
    content: "";
    border-radius: 50%;
    width: 35vh;
    height: 35vh;
    background-color: rgba(#fff, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: expand 1s 1;
  }
}

@media (min-width: 768px) {
  .containerHomeBackground {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
  .content-wraper {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 50vh;
    margin: 0 15vh;
    margin-top: 10vh;
  }
}
@media (min-width: 1000px) {
  .containerHomeBackground {
    background-image: url("../../assets/home/background-home-desktop.jpg");
  }
}

@keyframes expand {
  0% {
    width: 0vw;
    height: 0vh;
  }

  100% {
    width: 35vh;
    height: 35vh;
    background-color: rgba(#fff, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
