@use "../../Utils/variables" as v;

.page-header {
  margin: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: v.$white;
  span {
    margin-right: 1rem;
  }
}
@media (min-width: 768px) {
  .page-header {
    display: flex;
    margin-left: 2rem;
    margin-block: 4rem;
  }
}
