@use "../../Utils/mixins" as m;
@use "../../Utils/variables" as v;

.page-description {
  margin-inline: 7.5%;
  margin-top: 0;
  color: v.$purple;
  font-family: v.$fontBarlow;
}
@media (min-width: 768px) {
  .page-description {
    display: flex;
    width: fit-content;
    -webkit-line-clamp: 3; /* number of lines to show */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    place-self: center;
    p {
      line-break: strict;
      width: 600px;
    }
  }
}
