@use "../../Utils/mixins" as m;
@use "../../Utils/variables" as v;
.planet {
  aspect-ratio: 1;
  max-width: 45vw;
}
.containerPlanetBackground {
  @include m.background(
    $url: "../../assets/destination/background-destination-mobile.jpg"
  );
}

.planet-name {
  margin: 1rem 0 auto;
  color: v.$white;
  text-transform: uppercase;
}

.planet-detail {
  margin-block: 0.5rem;
  text-transform: uppercase;
  color: v.$white;
}
.planet-detail-header {
  margin-block: 0;
  text-transform: uppercase;
  font-family: v.$fontBarlowCond;
  color: v.$purple;
  font-weight: normal;
}
