@use "../../Utils/variables" as v;
@use "../../Utils/mixins" as m;

.crewContainer {
  @include m.background($url: "../../assets/crew/background-crew-mobile.jpg");
  max-height: fit-content;
  > h2 {
    margin: 0;
  }
}
.crew-img {
  max-width: 50vw;
  margin-bottom: -2.4rem;
  height: 30vh;
}

.crew-h5,
.crew-h4 {
  font-family: v.$fontBellefair;
  text-transform: uppercase;
  margin: 1rem 0;
}
.crew-h5 {
  color: v.$gray;

  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.crew-h4 {
  font-size: 1.5rem;

  color: v.$white;
}
.crew-content {
  display: grid;
  grid-template-columns: 1;
}
@media (min-width: 768px) {
  .crew-content {
    width: 80vw;
    margin-inline: 10%;
  }
  .crew-image {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    grid-row: 2;
  }
  .crew-navbar {
    margin-top: 1rem;
  }
  .crew-img {
    margin-bottom: 0;
    margin-top: 1.5rem;
    position: fixed;
    min-height: 32rem;
    bottom: 0;
  }
  .crew-divider {
    display: none;
  }
  .crew-h4 {
    font-size: 2.5em;
  }
  .crew-navbar {
    max-width: 10vw;
  }
}
