@use "../../Utils/variables" as v;
@use "../../Utils/mixins" as m;

.crewContainer {
  @include m.background($url: "../../assets/crew/background-crew-mobile.jpg");
  max-height: fit-content;
  > h2 {
    margin: 0;
  }
}
.crew-img {
  max-width: 50vw;
  margin-bottom: -2.4rem;
  height: 30vh;
}

.crew-h5,
.crew-h4 {
  font-family: v.$fontBellefair;
  text-transform: uppercase;
  margin: 1rem 0;
}
.crew-h5 {
  color: v.$gray;

  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.crew-h4 {
  font-size: 1.5rem;

  color: v.$white;
}
.crew-content {
  display: grid;
  grid-template-columns: 1;
  max-height: 100vh;
  place-items: center;
  hr {
    width: 100vw;
    margin-top: 2.5rem;
  }
}
.crew-desc {
  margin-inline: 5%;
}
@media (min-width: 768px) {
  .crew-content {
    width: 80vw;
    margin-inline: 10%;
    hr {
      display: none;
    }
    .crew-nav {
      grid-row: 3;
    }
    .page-header {
      place-self: start;
      margin-bottom: 3rem;
    }
    .crew-info-desc {
      place-self: start start;

      margin-bottom: 1rem;
    }
  }
  .crew-image {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    grid-row: 2;
  }
  .crew-navbar {
    margin-top: 1rem;
  }
  .crew-img {
    margin-bottom: 0;
    margin-top: 1.5rem;
    position: fixed;
    min-height: 32rem;
    bottom: 0;
  }
  .crew-divider {
    display: none;
  }
  .crew-h4 {
    font-size: 2.5em;
  }
  .crew-navbar {
    max-width: 10vw;
  }
  .crew-desc {
    height: 5rem;
    width: 75vw;
  }
  .crew-h5 {
    margin-top: 1rem;
  }
}
@media (min-width: 1270px) {
  .crew-content {
    @include m.show($time: 1s);
    margin: 10rem 25%;
    margin-bottom: 0;

    place-items: start;
    grid-template-columns: repeat(2, 30vw);
    .page-header {
      margin-bottom: 10rem;
      margin-left: 0;
      grid-column: 1;
      grid-row: 1;
    }
  }
  .crew-image {
    grid-column: 2;
  }
  .crew-img {
    right: 10rem;
    height: 70vh;
  }

  .crew-info-desc {
    text-align: left;
    margin-top: 10rem;
    grid-column: 1;
    grid-row: 1;
    place-self: start;
    max-width: 100%;
    h4 {
      font-size: 2rem;
    }
    p {
      max-width: inherit;
      margin: 0;
      margin-bottom: 5rem;
      font-size: 1.1rem;
    }
    .crew-navbar {
      grid-column: 1;
      grid-row: 2;
      margin: 10rem;
    }
  }
}
