.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
  margin-top: 0;
  padding-top: 1rem;
}
.navbar-logo:hover {
  filter: drop-shadow(0 0 0.5rem #fff);
}
.hamburger {
  background: none;
}
.hamburger:hover {
  border: none;
}
.closed {
  display: none;
}
@media (min-width: 700px) {
  .hamburger {
    display: none;
  }
}
