.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
}

.hamburger {
  background: none;
}
.hamburger:hover {
  border: none;
}
.closed {
  display: none;
}
@media (min-width: 700px) {
  .hamburger {
    display: none;
  }
}
